table,
.table {

  $block-name:                &; // #{$block-name}__element

  border-collapse: collapse;
  width: 100%;
  border: 1px solid $border-color;
  margin: 40px 0;
  line-height: 1.3;

  caption {
    padding-bottom: 8px;
    text-align: left;
    caption-side: top;
    font-size: $font-size-sm;
    line-height: 1em;
    color: $text-muted;
  }

  td,
  th {
    padding: 10px 12px;
    vertical-align: top;
    word-break: normal;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    text-align: left;
    font-size: $font-size-lg;
    background-color: $quotes-color;
  }

  &__header {}

  &__body {}

  &__footer {}
}
