.program-informer {
  padding: 40px 24px;
  color: $white;
  background-color: $main-color;
  border-radius: $border-radius--lg;

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__item {
    flex: 1 1 100%;

    @media (min-width: $screen-md) {
      flex: 0 1;
      flex-basis: calc(50% - 16px);
    }

    @media (min-width: $screen-xl) {
      flex-basis: calc(25% - 24px);
    }
  }

  &__item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 16px;
  }

  &__icon {
    flex: 0 0 65px;
    width: 65px;
    height: 65px;
  }

  &__text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    font-weight: 600;
  }

  &__item-title {
    font-size: $font-size--h4;
    text-transform: uppercase;
  }

  &__date {
    margin-right: 4px;
    font-size: $font-size--h6;
    white-space: nowrap;

    &:nth-child(2) {
      margin-right: 0;
      color: inherit;

      &::before {
        display: inline-block;
        vertical-align: baseline;
        content: "–";
        margin-right: 6px;
      }
    }
  }
}
