.news-card {

  $block-name:                &; // #{$block-name}__element

  &__page-row {
    gap: 40px 0;

    // @media (min-width: $screen-md) {
    //   gap: 72px 0;
    // }

    // @media (min-width: $screen-xl) {
    //   gap: 80px 0;
    // }
  }

  &__page-col {
    @include col(xs, 12);
    @include col(md, 6, $grid-columns, 32px);
    @include col(xl, 4, $grid-columns, 40px);
  }

  &__img {
    margin-bottom: 16px;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 16px;
    text-transform: none;

    a {
      color: inherit;

      &:active {
        text-decoration: none;
        color: $main-color;
      }
    }
  }
}
