.news-card {

  $block-name:                &; // #{$block-name}__element

  &__img {
    margin-bottom: 16px;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 16px;
    text-transform: none;

    a {
      color: inherit;

      &:active {
        text-decoration: none;
        color: $main-color;
      }
    }
  }
}
