.pagination {
  display: block;
  //flex-wrap: wrap;
  margin-top: 18px;
  //margin-bottom: 60px;

  @media (min-width: $screen-md) {
    //justify-content: flex-start;
    margin-top: 20px;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    margin: 0 12px;

    &.active {

      a > span {
        color: $white;
        background-color: $main-color;
        pointer-events: none;
      }
    }

    &--prev,
    &--next {
      padding: 0;

      #{$block-name}__link {
        width: 48px;
        height: 48px;
        background-size: 41px 32px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--prev {
      margin-right: auto;
      margin-left: 0;

      #{$block-name}__link {
        transform: scale(-1, 1);
        background-image: svg-load('../blocks/sprite-svg/svg/link-right.svg', fill=$secondary-color);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/sprite-svg/svg/link-right.svg', fill=$main-color);
        }

        &--disabled {
          background-image: svg-load('../blocks/sprite-svg/svg/link-right.svg', fill=$light-gray);
        }
      }
    }

    &--next {
      margin-left: auto;
      margin-right: 0;

      #{$block-name}__link {
        background-image: svg-load('../blocks/sprite-svg/svg/link-right.svg', fill=$secondary-color);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/sprite-svg/svg/link-right.svg', fill=$main-color);
        }

        &--disabled {
          background-image: svg-load('../blocks/sprite-svg/svg/link-right.svg', fill=$light-gray);
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: $font-size-lg;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    color: $text-color;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-color;

      span {
        background-color: $light-gray;
      }
    }

    &:active {
      color: $white;

      span {
        background-color: $main-color;
      }
    }

    &--disabled,
    &:disabled {
      //background-color: $light-bg;
      pointer-events: none;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      white-space: nowrap;
      user-select: none;
      background-color: $white;
      border-radius: 50%;
    }
  }
}
