// Этот блок ответственен ТОЛЬКО за типографику проекта.

/* mulish-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/mulish-v13-cyrillic_latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-v25-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-v25-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-v25-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



body {
  // ТОЛЬКО типографика!
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  word-break: break-word;
  text-align: left;
  text-decoration-skip-ink: auto;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // text-rendering: optimizeLegibility;
  // Partial support in Android browser versions is due to a serious bug where text-rendering: optimizeLegibility causes custom web fonts to not render!!!
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
  line-height: 1.2;
  color: currentColor;
}

.h2,
.h3,
.h4,
.h5,
.h6,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 40px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  font-family: $font-family--headings;
  font-weight: 500;
  text-transform: uppercase;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 600;
}

.h1,
h1 {
  margin-top: 0;
  font-size: $font-size--h1;

  @media (min-width: $screen-xl) {
    font-size: $font-size--h1 * 1.25;
  }
}

.h2,
h2 {
  font-size: $font-size--h2;

  @media (min-width: $screen-xl) {
    font-size: $font-size--h2 * 1.1429;
  }
}

.h3,
h3 {
  font-size: $font-size--h3;

  // @media (min-width: $screen-xl) {
  //   font-size: $font-size--h3 * 1.0833;
  // }
}

.h4,
h4 {
  font-size: $font-size--h4;
}

.h5,
h5 {
  font-size: $font-size--h5;
}

.h6,
h6 {
  font-size: $font-size--h6;
}

.p,
p,
ul,
ol,
dl,
blockquote,
pre,
address,
figure {
  margin-top: 16px;
  margin-bottom: 16px;
  color: currentColor;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 1.3em;
  //overflow: hidden; // для решения проблемы с float картинками
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  //list-style-position: inside;
  line-height: inherit;
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid $border-color;
}

.small,
small {
  font-size: $font-size * 0.75;
}

sub,
sup {
  font-size: 70%;
}

b,
strong {
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline dotted;
}

blockquote {
  padding: 24px 32px;
  margin-left: 0;
  margin-right: 0;
  background-color: $quotes-color;
  border-radius: $border-radius--lg;

  p {

    &:first-child {
      margin: 0 0 8px;
      font-size: 24px;
      font-weight: 600;
    }

    &:last-child {
      margin: 0;
    }
  }
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;

  @media (min-width: $screen-sm) {
    margin-left: 1.5rem;
  }

  & + dt {
    margin-top: 0.5em;
  }
}

// samp,
code,
kbd,
pre {
  // font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}

a {
  text-decoration-skip-ink: inherit;
}

// Отключение излишних ссылок при помощи аттрибутов  aria-hidden="true" tabindex="-1"
