.breadcrumbs {
  margin-top: 24px;
  //margin-bottom: 25px;

  @media (min-width: $screen-md) {
    margin-top: 32px;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    align-items: baseline;
    width: 100%;
    overflow-x: auto;
  }

  &__item {
    flex: 0 0 auto;
    max-width: 100%;
    // margin-bottom: 4px;

    // @media (min-width: $screen-xl) {
    //   margin-bottom: 0;
    // }

    &:not(:last-child) {
      position: relative;
      margin-right: 43px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: -29px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        width: 11px;
        height: 8px;
        background-size: 11px 8px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: svg-load('../blocks/sprite-svg/svg/arrow-down.svg', fill=$secondary-color);
      }
    }

    &:last-child {

      #{$block-name}__link {
        text-decoration: none;
        color: $medium-gray;
      }
    }
  }

  &__link {
    //max-width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 8px 0;
    font-size: inherit;
    font-weight: 600;
    color: $text-color;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }

    &:active {
      color: $main-color;
      text-decoration: none;
    }
  }
}
