.accordion {

  $block-name:                &; // #{$block-name}__element

  &__item {

    & + & {
      margin-top: 40px;
    }
  }

  &__header {
    margin: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
    width: 100%;
    height: 48px;
    padding: 0 20px 16px 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    text-align: initial;
    background-color: $white;
    border-style: solid;
    border-color: $secondary-color;
    border-width: 0 0 3px 0;
    cursor: pointer;
    transition: border-color $transition-time;

    &:hover,
    &:focus {
      border-color: $main-color;

      svg {
        fill: $main-color;
      }
    }

    &[aria-expanded=true] {

      svg {
        transform: rotate(-180deg);
      }
    }

    svg {
      fill: $secondary-color;
      transition: all $transition-time;
    }
  }

  &__body {
    padding-top: 24px;
  }
}
