.mob-menu {
  //position: relative;

  @media (min-width: $screen-xxl) {
    display: none;
  }

  $block-name:                &; // #{$block-name}__element

  &__wrapper {
    position: fixed;
    top: 59px;
    right: 0;
    left: 0;
    //width: 100%;
    max-height: calc(100vh - 59px);
    padding-top: 32px;
    padding-bottom: 32px;
    order: 1;
    background-color: $body-bg;
    overflow-y: auto;

    @media (min-width: $screen-md) {
      top: 107px;
      max-height: calc(100vh - 107px);
    }
  }

  &__form-wrapper {
    margin-bottom: 32px;

    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item-inner {
    display: flex;
    align-items: center;
  }

  &__item {

    & + & {
      margin-top: 8px;
    }

    &.active {

      #{$block-name}__link {
        color: $link-color;
      }
    }

    &--nested {

      & > #{$block-name}__link {

        &[aria-expanded=true] {

          span::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }

        span {
          position: relative;
        }

        span::after {
          content: "";
          position: absolute;
          right: -19px;
          top: 50%;
          transform: translateY(-50%);
          width: 11px;
          height: 11px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 11px 8px;
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-down.svg', fill=$secondary-color);
          transition: transform $transition-time;
        }
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    min-width: 320px;
    padding: 9px 0;
    font-size: 20px;
    font-weight: 600;
    color: $text-color;

    &:hover {
      color: inherit;
    }

    &:focus {
      color: $link-color;
      text-decoration: none;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-left: 8px;
    border: none;
  }

  &__lang-switcher {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
  }

  &__lang-switcher-item {

    & + & {
      margin-left: 8px;
    }

    &.active {

      #{$block-name}__lang-switcher-link {
        text-decoration: none;
        color: $main-color;
      }
    }
  }

  &__lang-switcher-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
    padding: 8px;
    font-size: 20px;
    font-weight: 600;
    color: $text-color;
  }

  &__search {
    margin-top: 32px;

    @media (min-width: $screen-md) {
      width: 320px;
      margin-top: 0;
    }

    .field-text {
      margin: 0;
    }

    .field-text__input {
      height: 48px;
      padding: 12px 60px 12px 24px;
      border-radius: 48px;
      border-color: $main-color;
      border: 2px solid $secondary-color;
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: right 22px center;
      background-image: svg-load('../blocks/sprite-svg/svg/search.svg', fill=$secondary-color);
      transition: all $transition-time;

      &:hover,
      &:focus {
        background-image: svg-load('../blocks/sprite-svg/svg/search.svg', fill=$main-color);
        border-color: $main-color;
        box-shadow: none;
      }
    }
  }
}
