.analytics-card {

  $block-name:                &; // #{$block-name}__element

  &__row {
    gap: 40px 0;

    & + & {
      margin-top: 40px;
    }
  }

  &__page-row {
    gap: 40px 0;

    // @media (min-width: $screen-md) {
    //   gap: 72px 0;
    // }

    // @media (min-width: $screen-xl) {
    //   gap: 80px 0;
    // }
  }

  &__col {
    @include col(xs, 12);
    @include col(md, 12, $grid-columns, 32px);
    @include col(xl, 6, $grid-columns, 40px);
  }

  &__inner-row {
    gap: 24px 0;
  }

  &__img-col {
    @include col(xs, 12);
    @include col(md, 5, $grid-columns, 32px);
    @include col(xl, 6, $grid-columns, 40px);
  }

  &__text-col {
    @include col(xs, 12);
    @include col(md, 7, $grid-columns, 32px);
    @include col(xl, 6, $grid-columns, 40px);

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
    }
  }

  &__report-content {

    &:has(.analytics-card__img-wrapper) {

      & ul, ol {
        overflow: hidden; // для решения проблемы с float картинкам
        //list-style-position: inside;
      }
    }
  }

  &__img-wrapper {
    margin-bottom: 32px;

    @media (min-width: $screen-md) {
      float: left;
      width: 260px;
      margin-right: 32px;
      margin-bottom: 24px;
    }

    @media (min-width: $screen-lg) {
      width: 275px;
    }

    @media (min-width: $screen-xl) {
      width: 295px;
      margin-right: 40px;
    }
  }

  &__img {

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    margin: 16px 0;
    text-transform: none;

    a {
      color: inherit;

      &:active {
        text-decoration: none;
        color: $main-color;
      }
    }
  }

  &__intro {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  &__show-more {

    &[aria-expanded=true] {
      cursor: not-allowed;
      color: $dark-gray;
      border-color: $light-gray;
      background-color: $light-gray !important;
      pointer-events: none;
    }
  }
}
