.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  margin: 0;
  min-width: 48px;
  min-height: 48px;
  padding: 0 40px;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  text-transform: none;
  line-height: $line-height;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  color: $white;
  border-radius: $border-radius;
  border: 2px solid $main-color;
  background-color: $main-color;
  //background-image: none;
  cursor: pointer;
  transition: all $transition-time;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    border-color: rgba($secondary-color, 0);
    background-color: rgba($secondary-color, 0.2);
  }

  &:active {
    color: $white;
    border-color: $secondary-color;
    background-color: $secondary-color;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    color: $dark-gray;
    border-color: $light-gray;
    background-color: $light-gray !important;
    //opacity: $opacity;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--outlined {
    color: $main-color;
    background-color: $white;

    &:hover,
    &:focus {
      //color: $text-color;
      background-color: $white;
      border-color: $secondary-color;
    }

    &:active {
      //color: $white;
      //border-color: rgba($secondary-color, 1);
      background-color: rgba($secondary-color, 1);
    }

    &--disabled,
    &:disabled {
      color: $dark-gray;
      background-color: $white !important;
      border-color: $light-gray;
      cursor: not-allowed;

      @at-root a.btn--disabled {
        pointer-events: none;
      }
    }
  }
}
