 .hero {
  min-height: 200px;

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include row(
      $xs-grid-gutter:  32px,
      $sm-grid-gutter:  32px,
      $md-grid-gutter:  32px,
      $lg-grid-gutter:  32px,
      $xl-grid-gutter:  40px,
      $xxl-grid-gutter: 40px
    );
  }

  &__img {
    flex: 1 1;
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 360 / 128;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__container {
    background-color: $main-color;
    background-position: bottom -15px left 210px;
    background-repeat: no-repeat;
    background-size: 350px 104px;
    background-image: svg-load('../blocks/hero/bg-img/pattern.svg');

    @media (min-width: $screen-sm) {
      background-position: bottom -15px right -50px;
    }

    @media (min-width: $screen-md) {
      background-size: 590px 175px;
      background-position: bottom -24px right -320px;
      padding-left: 0 !important;
    }

    @media (min-width: $screen-lg) {
      background-position: bottom -24px right -200px;
    }

    @media (min-width: $screen-xl) {
      background-position: bottom -24px right;
    }
  }

  &__img-col {
    @include col(xs, 12, $grid-columns, 0);
    @include col(md, 4.7, $grid-columns, 0);
    @include col(xl, 5.5, $grid-columns, 0);
    //@include col(xxl, 6, $grid-columns, 0);

    @media (min-width: 1920px) {
      @include col(xxl, 6.5, $grid-columns, 0);
    }
  }

  &__text-col {
    @include col(xs, 12, $grid-columns, 32px);
    //@include col-offset(md, 4);
    @include col(md, 7.3, $grid-columns, 32px);
    //@include col-offset(xl, 5);
    @include col(xl, 6.5, $grid-columns, 40px);
    //@include col(xxl, 6, $grid-columns, 40px);

    @media (min-width: $screen-md) {
      padding-left: 0 !important;
    }

    @media (min-width: 1920px) {
      @include col(xxl, 5.5, $grid-columns, 40px);
    }

    // @media (min-width: $screen-md) {
    //   padding-left: 32px;
    // }
  }

  &__text {
    padding: 32px 0;
    color: $white;

    @media (min-width: $screen-md) {
      //position: relative;
      padding-top: 80px;
      padding-bottom: 40px;
      padding-left: 58px;

      // &::before {
      //   display: block;
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   left: 0;
      //   width: 60px;
      //   background-color: red;
      // }
    }

    @media (min-width: $screen-xl) {
      padding: 128px 0 128px 72px;

      // &::before {
      //   width: 80px;
      // }
    }

    p {
      font-weight: 700;
      margin-bottom: 32px;

      @media (min-width: $screen-md) {
        margin-bottom: 40px;
      }
    }
  }

  &__title {
    line-height: 1.3;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      font-size: 48px;
    }
  }
}
